<div class="control-group">
  <%= form.label :name, 'Name', class: 'control-label' %>
  <div class='controls'>
    <%= form.text_field :name, placeholder: "Name of Todo" %>
  </div>
</div>


<div class="control-group">
  <%= form.label :description, 'Description', class: 'control-label' %>
  <div class='controls'>
    <%= form.text_area :description, rows: 4, placeholder: 'Some description' %>
  </div>
</div>